* {
    background-color: darkslategrey;
}

.Content {
    margin: auto;
    text-align: center;

}

.number {
    background-color: burlywood;
    border: solid;
    margin-top: 10%;
    margin-left: 44%;
    margin-right: 44%;
    padding: 50px;
    font-size: 50px;
}

.button {
    font-size: 30px;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    background-color: chocolate;
}